<ion-view view-title="Attendence management">
  <ion-content class="padding" ng-controller="Attendencecontroller">
<form >
<div class="card" ng-repeat="x in attendence1">
  <div class="item item-divider" >
    Batch Year: {{x.batch}}
<!--    <input ng-model="x.batch" value="{{x.batch}}"/>-->

  </div>
  <div class="item item-text-wrap" >
      <b>Section: </b> {{x.section}}
  </div>
<!--  <input ng-model="x.section" value="{{x.section}}"/>-->

 

<div class="row">
  <div class="col">
      <button type="submit" ng-click="attendence3(x)" class="button button-full button-assertive">Add</button>
  </div>
  <div class="col">
      <button type="submit"  class="button button-full button-assertive">
  View
</button>
  </div>
  
</div>



</div>
     
     
      </form>
  </ion-content>
</ion-view> 