<ion-view view-title="Marks management">
  <ion-content class="padding" ng-controller="markscontroller">

 <div class="card" ng-repeat="x in test">
 
  <div class="item item-divider">
      <b>Test name: </b>{{x.testname}}
  </div>
 
  <div class="item item-text-wrap" >
      <b>Program:</b> {{x.program}}<br>
      <b>Year:</b> {{x.batchyear}}<br>
        <b>Semester:</b> {{x.semester}}<br>
      <b>Course:</b> {{x.coursename}}<br>
      <b>Section: </b> {{x.sectionname}}
  </div>
   
  


<div class="row">
  <div class="col">
       <button type="submit" ng-click="viewmarks(x)" class="button button-full button-positive">
  View Marks
</button>
  </div>
  <div class="col">
     <button type="submit" ng-click="marks(x)" class="button button-full button-positive">
  update Marks
</button>
     
  </div>
 
</div>
</div>

  </ion-content>
</ion-view> 