<ion-view view-title="Parent Monitoring System">
  <ion-content class="padding" ng-controller="addCourseController">
    <div class="list card">
      <div class="item item-divider"></div>
      <div class="item item-body">
        <button class="button button-positive" ng-click="addCourseBackButton()">Back</button>
      </div>
    </div>
    <form method="POST">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Course Name</span>
                        <input type="text" name="CourseName"  placeholder="enter Course" ng-model="data.courseName">
                    </label>
                      <label class="item item-input item-stacked-label">
                        <span class="input-label">Course Code</span>
                        <input type="text" name="CourseCode" placeholder="enter Course Code" ng-model="data.courseCode">
                    </label>
                    
                     
                    <input ng-click="addCourseSubmit()" class="button button-block button-positive" type="submit"  value="Add" name="loginsubmit" >                    
                </form>
                <div class="card">
                    <div class="item item-text-wrap">
                    
                        Response: <b ng-bind="found"></b>
                    </div>
                </div>
                <ion-infinite-scroll
                    on-infinite="loadMore()"
                    distance="1%">
                </ion-infinite-scroll>
 
  </ion-content>
</ion-view>