<ion-view view-title="Parent Monitoring System">
  <ion-content class="padding" ng-controller="addStudentController">
    <div class="list card">
      <div class="item item-divider"></div>
      <div class="item item-body">
        <button class="button button-positive" ng-click="addStudentBackButton()">
      <i class="icon ion-android-arrow-back">  
    </i></button>
      </div>
    </div>
    <form method="POST">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">First Name</span>
                        <input type="text" name="StudentFirstname"  placeholder="enter First Name" ng-model="data.StudentFirstname">
                    </label>
                      <label class="item item-input item-stacked-label">
                        <span class="input-label">Last Name</span>
                        <input type="text" name="studentLastname" placeholder="enter Last Name" ng-model="data.studentLastname">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Email</span>
                        <input type="text" name="studentEmail" placeholder="enter Email" ng-model="data.studentEmail">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">User name</span>
                        <input type="text" name="studenUsername" placeholder="enter user name" ng-model="data.studentUserName">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Password</span>
                        <input type="text" name="studentPassword" placeholder="enter Password" ng-model="data.studentPassword">
                    </label>
                      
                       <label class="item item-input item-select">

                     <div class="input-label">Program</div>
                        <select ng-model="data.program" ng-options="x.prog_id as x.prog_name for x in allprogfound"> 
                          <option value=""></option>
                        </select>
                    </label>
                      
                     <label class="item item-input item-stacked-label">
                        <span class="input-label">R0ll Number</span>
                        <input type="text" name="studentRollNo" placeholder="enter Student's roll No." ng-model="data.studentRollNo">
                     </label>
                     <label class="item item-input item-stacked-label">
                        <span class="input-label">Address</span>
                        <input type="text" name="studentAddress" placeholder="enter Student's Permanent Address" ng-model="data.studentAddress">
                     </label>
                     
                    <label class="item item-input item-select">
                        <div class="input-label">Gender</div>
                        <select ng-model="data.genderSelect">
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                        </select>
                     </label>
                      <label class="item item-input item-select">
                        <span class="input-label">DOB</span>
                        <ion-list>
                          <ion-item class="item-input">
                            <label class="item-input">
                              <span class="input-label"></span>
                              <input type="date" ng-model="data.dueDate">
                                </label>
                              </ion-item>
                            </ion-list>

                                  <h3>{{data.dueDate | date: "MM-dd-yyyy"}}</h3>
                      </label>

                  
                    

                        <label class="item item-input item-stacked-label">
                        <span class="input-label">Student's Cnic </span>
                        <input type="text" name="parentCnic" placeholder="enter Student's CNIC "ng-model="data.studentCinic">
                     </label>
                     <label class="item item-input item-stacked-label">
                        <span class="input-label">Parent's CNIC</span>
                        <input type="text" name="parentID" placeholder="enter Parent's cnic "ng-model="data.parentCNIC">
                     </label>
 
 
 
 
                    <input ng-click="addStudentSubmit()" class="button button-block button-positive" type="submit"  value="Add" name="loginsubmit" >                    
                </form>
                <div class="card">
                    <div class="item item-text-wrap">
                    
                        Response: <b ng-bind="found"></b>
                    </div>
                </div>
                <ion-infinite-scroll
                    on-infinite="loadMore()"
                    distance="1%">
                </ion-infinite-scroll>
 
  </ion-content>
</ion-view>