<ion-view view-title="Parent Monitoring System">
  <ion-content class="padding" ng-controller="assignCourseAndSectionController">
    <div class="list card">
      <div class="item item-divider"></div>
      <div class="item item-body">
        <button class="button button-positive" ng-click="assignCourseAndSectionBackButton()">Back</button>
      </div>
    </div>
    <form method="POST">


        <label class="item item-input item-select">

                      <div class="input-label">Teacher</div>
                        <select ng-model="data.teacher" ng-options="x.teacher_id as x.teacher_name for x in allteacherfound"> 
                          <option value=""></option>
                        </select>
          </label>

       <label class="item item-input item-select">

                      <div class="input-label">course</div>
                        <select ng-model="data.course" ng-options="x.course_id as x.course_name for x in allcoursefound"> 
                          <option value=""></option>
                        </select>
                    </label>

                      <label class="item item-input item-select">

                      <div class="input-label">Program</div>
                        <select ng-model="data.program" ng-options="x.prog_id as x.prog_name for x in allprogfound"> 
                          <option value=""></option>
                        </select>
                    </label>
                    <label class="item item-input item-select">
                     <div class="input-label">Batch</div>
                        <select ng-model="data.batch" ng-options="x.batch_id as x.batch_year for x in allbatchfound"> 
                          <option value=""></option>
                        </select>
                    </label>
                     <label class="item item-input item-select">
                     <div class="input-label">Semester</div>
                        <select ng-model="data.yesSemester" ng-options="x.semestre_id as x.semester_name for x in allsemfound"> 
                          <option value=""></option>
                        </select>
                    </label>

                    <label class="item item-input item-select">
                     <div class="input-label">Section</div>
                        <select ng-model="data.section">
                          <option value="1">A</option>
                          <option value="2">B</option>
                          <option value="3">C</option>
                          <option value="4">D</option>
                        </select>
                    </label>
                 
                    
                     
                    <input ng-click="assignSubmit()" class="button button-block button-positive" type="submit"  value="Add" name="loginsubmit" >                    
                </form>
                <div class="card">
                    <div class="item item-text-wrap">
                    
                        Response: <b ng-bind="found"></b>
                    </div>
                </div>
                <ion-infinite-scroll
                    on-infinite="loadMore()"
                    distance="1%">
                </ion-infinite-scroll>
 
  </ion-content>
</ion-view>