<ion-view view-title="Parent Monitoring System">
  <ion-content class="padding" ng-controller="deleteTeacherController">
    <div class="list card">
      <div class="item item-divider"></div>
      <div class="item item-body">
        <button class="button button-positive" ng-click="DeleteTeacherBackButton()">Back</button>
      </div>
    </div>
    <form>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Enter Teacher's CNIC you want to delete</span>
                        <input type="text" name="CNIC"  placeholder="enter CNIC" ng-model="data.CNIC">
                    </label>
                      
 
                    <input ng-click="Deletesubmit()" class="button button-block button-positive" type="submit"  value="delete" name="Deletesubmit">                    
                </form>
                <div class="card">
                    <div class="item item-text-wrap">
                    
                        Response: <b ng-bind="found"></b>
                    </div>
                </div>
 
  </ion-content>
</ion-view>