<ion-view view-title="Parent Monitoring System">
  <ion-content class="padding" ng-controller="deleteCourseController">
    <div class="list card">
      <div class="item item-divider"></div>
      <div class="item item-body">
        <button class="button button-positive" ng-click="DeleteCourseBackButton()">Back</button>
      </div>
    </div>
    <form>
                  <label class="item item-input item-select">

                      <div class="input-label">course</div>
                        <select ng-model="data.course" ng-options="x.course_id as x.course_name for x in allcoursefound"> 
                          <option value=""></option>
                        </select>
                    </label>
                    <input ng-click="Deletesubmit()" class="button button-block button-positive" type="submit"  value="delete" name="Deletesubmit">                    
                </form>
                <div class="card">
                    <div class="item item-text-wrap">
                    
                        Response: <b ng-bind="found"></b>
                    </div>
                </div>
 
  </ion-content>
</ion-view>