<ion-view view-title="Parent Monitoring System">
  <ion-content class="padding" ng-controller="attendenceshowCourse">
    <div class="list card">
      <div class="item item-divider"></div>
      <div class="item item-body">
        <button class="button button-positive">
      <i class="icon ion-android-arrow-back">  </i></button>
      </div>
    </div>
    <div class="list" ng-repeat="x in courseFound">

  <div class="item item-button-right">
 {{x.course_name}}
    <button type="submit" ng-click="view(x)"class="button button-positive">
      <i class="icon ion-eye"> View</i>
    </button>
  </div>



</div>

 
  </ion-content>
</ion-view>