<ion-view view-title="Parent Monitoring System">
  <ion-content class="padding" ng-controller="getstudentlocation">
    <div class="list card">
      <div class="item item-divider"></div>
      <div class="item item-body">
        <button class="button button-positive">
      <i class="icon ion-android-arrow-back">  </i></button>
      </div>
    </div>
    <div class="list" ng-repeat="x in found">

  <div class="item item-button-right">
  {{x.fname}} 
   {{x.lname}}
    <button type="button" ng-click="view(x)"class="button button-positive">
      <i class="icon ion-eye"> view Location</i>
    </button>
  </div>



</div>
 
  <button type="button" ui-sref="parenthome.test" class="button button-positive">
    test
    </button>

 
  </ion-content>
</ion-view>