<style type="text/css">
    
#result {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#result td, #result th {
    border: 1px solid #ddd;
    padding: 8px;
}
#result tr:nth-child(even){background-color: #f2f2f2;}

#result tr:hover {background-color: #ddd;}
</style>

<ion-view view-title="Parent Monitoring System">
  <ion-content class="padding" ng-controller="studentChallan">
    <div class="list card">
      <div class="item item-divider"></div>
      <div class="item item-body">
        <button class="button button-positive" ng-click="studentChallanBack()">
      <i class="icon ion-android-arrow-back">  </i></button>
      </div>
    </div>
    
    <form method="POST">

                  <label class="item item-input item-stacked-label">
                        <span class="input-label">First Name</span>
                        <input type="text" name="StudentFirstname" disabled ng-repeat="x in found" value={{x.std_fname}}>

                    </label>
                 
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Program</span>
                        <input type="text" disabled ng-repeat="x in found" value={{x.std_prog}}>
                    </label>
  
                    
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">R0ll Number</span>
                        <input type="text" disabled ng-repeat="x in found" value={{x.std_rollnumber}}>
                     </label>
                       
                    <label class="item item-input item-stacked-label">

                        <span class="input-label">Registeration Fee</span>
                        <input type="text" disabled ng-repeat="x in found" value={{x.challan_regfee}}>
                     </label>
                      <label class="item item-input item-stacked-label">
                        <span class="input-label">Tuition Fee</span>
                        <input type="text" disabled ng-repeat="x in found" value={{x.challan_tuifee}}>
                     </label>

                       <label class="item item-input item-stacked-label">
                        <span class="input-label">Fine</span>
                        <input type="text" disabled ng-repeat="x in found" value={{x.challan_fine}}>
                     </label>
                     
                      <label class="item item-input item-stacked-label">
                        <span class="input-label">Fine </span>
                        <input type="text" disabled ng-repeat="x in found" value={{x.challan_fineDes}}>
                     </label>
                  
                       
                      
                     <label class="item item-input item-stacked-label">

                        <span class="input-label">Issue Date</span>
                        <input type="text" disabled ng-repeat="x in found" value={{x.challan_issuedate}}>
                     </label>
                      <label class="item item-input item-stacked-label">
                        <span class="input-label">Submission Date</span>
                        <input type="text" disabled ng-repeat="x in found" value={{x.challan_lastdate}}>
                     </label>
                      <label class="item item-input item-stacked-label">
                        <span class="input-label">Issued By</span>
                        <input type="text" disabled ng-repeat="x in found" value={{x.challan_issuedby}}>
                     </label>
                      <label class="item item-input item-stacked-label">
                        <span class="input-label">Total Amount</span>
                        <input type="text" disabled ng-repeat="x in found" value={{x.challan_total}}>
                     </label>

                     <label class="item item-input item-stacked-label">
                        <span class="input-label">Status</span>
                        <input type="text" disabled ng-repeat="x in found" value={{x.challan_status}}>
                     </label>
                      
                      
                       </form>
   

               
                <ion-infinite-scroll
                    on-infinite="loadMore()"
                    distance="1%">
                </ion-infinite-scroll>
 
  </ion-content>
</ion-view>