<style type="text/css">
    
#result {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#result td, #result th {
    border: 1px solid #ddd;
    padding: 8px;
}
#result tr:nth-child(even){background-color: #f2f2f2;}

#result tr:hover {background-color: #ddd;}
</style>

<ion-view view-title="Parent Monitoring System">
  <ion-content class="padding" ng-controller="studentChallan">
    <div class="list card">
      <div class="item item-divider"></div>
      <div class="item item-body">
        <button class="button button-positive" ng-click="studentChallanBack()">
      <i class="icon ion-android-arrow-back">  
    </i></button>
      </div>
    </div>
    <form method="POST">
    <table>
<tr>
<td>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Name</span>
                        <input type="text" name="StudentFirstname" disabled ng-repeat="x in found" value={{x.std_fname}}{{x.std_lastname}}>
                       <!--  <input type="text" disabled ng-repeat="x in found" value={{x.std_lastname}}> -->
                    </label>
    </td>
    <td>                 
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Program</span>
                        <input type="text" disabled ng-repeat="x in found" value={{x.std_prog}}>
                    </label>
                </td>
</tr>
<tr>
    <td>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Batch</span>
                        <input type="text" disabled ng-repeat="x in found" value={{x.std_batch}}>
                    </label>
                </td>
                <td>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Semester</span>
                        <input type="text" disabled ng-repeat="x in found" value={{x.std_semes}}>
                    </label>
                </td>
</tr>               
    </table id="result">           
                     
                     <label class="item item-input item-stacked-label">
                        <span class="input-label">Registeration Fee</span>
                        <input type="text" " disabled ng-repeat="x in found" value={{x.challan_regfee}}>
                     </label>
                     <label class="item item-input item-stacked-label">
                        <span class="input-label">Tuition Fee</span>
                        <input type="text" " disabled ng-repeat="x in found" value={{x.challan_tuifee}}>
                     </label>
                       
                      
                     <label class="item item-input item-stacked-label">
                        <span class="input-label">Issue Date</span>
                        <input type="text" " disabled ng-repeat="x in found" value={{x.challan_issuedate}}>
                     </label>
                     <label class="item item-input item-stacked-label">
                        <span class="input-label">Submission Date</span>
                        <input type="text" " disabled ng-repeat="x in found" value={{x.challan_lastdate}}>
                     </label>
                     <label class="item item-input item-stacked-label">
                        <span class="input-label">Issued By</span>
                        <input type="text" " disabled ng-repeat="x in found" value={{x.challan_issuedby}}>
                     </label>
                     <label class="item item-input item-stacked-label">
                        <span class="input-label">Total Amount</span>
                        <input type="text" " disabled ng-repeat="x in found" value={{x.challan_total}}>
                     </label>
                      
                                      
                </form>
               
                <ion-infinite-scroll
                    on-infinite="loadMore()"
                    distance="1%">
                </ion-infinite-scroll>
 
  </ion-content>
</ion-view>